.aboutGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .aboutSection{
    margin: 32px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    background:linear-gradient( to right,rgb(176, 226, 187), rgb(241, 241, 241)); 
    color: black;
  }

  .resumeSection{
    background:linear-gradient( to left,rgb(176, 226, 187), rgb(241, 241, 241)); 
    color: black;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin: 40px;
    padding: 24px;

  }

  .resumeSectionDivison{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .linkSection{
    background:linear-gradient( to left,rgb(176, 226, 187), rgb(241, 241, 241)); 
    color: black;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin: 32px;
    padding: 24px;
  }

  .picSize{
    width: 150px;
  }

  .aboutPara{
    font-size: 25px;
  }


  li{
    font-size: 24px;
  }

  .downloadButton{
    background-color: #1B98E0;
    color:  #ecf0f3;
    border-radius: 5px;
    height: 32px;
    font-size: 24px;
}

.downloadButton:hover{
    box-shadow: 0 0 30px #1B98E0;
    height: 40px;
    transition: 1s;

}

.linkDiv{
    display: flex;
    justify-content:space-around;
}


/* responsive */
@media screen and (max-width: 1440px) {
    body {
        height: 900px;
        width: 1330px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}


/* responsive */
@media screen and (max-width: 1024px) {
   body {
        height: 1000px;
        width: 100%;
        overflow-y: scroll;
        overflow-x:scroll;
    }
}

/* sufrace pro 7 */
@media screen and (max-width: 912px) {
   body {
        height: 1500px;
        width: 100%;
        overflow-y: scroll;
        overflow-x:scroll;
    }

    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
      }
}

/* Ipad Air */
@media screen and (max-width: 820px) {
  body {
        height: 1500px;
        width: 100%;
        overflow-y: scroll;
        overflow-x:scroll;
    }

    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
      }
}

/* Ipad mini */
@media screen and (max-width: 768px) {
    body {
        height: 1600px;
        width: 100%;
        overflow-y: scroll;
        overflow-x:scroll;
    }

    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
      }
}

/* surfaxe duo */
@media screen and (max-width: 540px) {
    body {
        height: 1650px;
        width: 650px;
        overflow-y: scroll;
        overflow-x:scroll;
    }

    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
      }
}

/* Iphon 13pro max */
@media screen and (max-width: 428px) {

    body {
      height: auto;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .aboutSection{
      width: auto;
      margin: 8px;
      margin-top: 30px;
      padding: 40px;
    }

    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
        
      }

      .resumeSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
      }

      .resumeSectionDivison{
        display: grid;
        grid-template-columns: 1fr;
      }

      .linkSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .picSize{
        width: 80px;
      }

      .downloadButton{
        height: 62px;
        font-size: 24px;
    }

    .downloadButton:hover{
      box-shadow: 0 0 30px #1B98E0;
      height: 62px;
      transition: 1s;
  
  }
    
    
    }

    /* Iphone xr */
    @media screen and (max-width: 414px) {
      body {
        height: auto;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

      .aboutSection{
        width: auto;
        margin: 8px;
        padding: 40px;
        margin-top: 30px;
      }

      .resumeSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
      }

      .linkSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      }


      /* iphone 12 pro */
@media screen and (max-width: 393px) {
   body {
        height: auto;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .aboutSection{
        width: auto;
        margin: 8px;
        padding: 40px;
        margin-top: 30px;
      }
    
      .resumeSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
      }
    
      .resumeSectionDivison{
        display: grid;
        grid-template-columns: 1fr;
      }

      .linkSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .picSize{
        width: 80px;
        
      }

      .downloadButton{
        height: 62px;
        font-size: 24px;
    }

    .downloadButton:hover{
      box-shadow: 0 0 30px #1B98E0;
      height: 62px;
      transition: 1s;
  
  }
    
  }
    /* Samsung galaxy S8*/
  @media screen and (max-width: 360px) {
    body {
        height: auto;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .aboutSection{
        width: 200px;
        margin: 8px;
        padding: 40px;
        margin-top: 30px;
      }

      .resumeSection{
        width: 230px;
        margin: 8px;
        margin-top: 30px;
      }

      .downloadButton{
        background-color: #1B98E0;
        color:  #ecf0f3;
        border-radius: 5px;
        height: 32px;
        width: 245px;
        font-size: 16px;
    }


    .linkSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      
  }
  




/* pixel 4 */
@media screen and (max-width: 353px) {
   

    }

/* Galaxy S9+ */

@media screen and (max-width: 320px) {

    body {
        height: auto;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .aboutSection{
        width: auto;
        margin: 8px;
        padding: 40px;
        margin-top: 30px;
      }

      .resumeSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
      }

      .downloadButton{
        background-color: #1B98E0;
        color:  #ecf0f3;
        border-radius: 5px;
        height: 32px;
        width: 210px;
        font-size: 16px;
    }

    .linkSection{
        width: auto;
        margin: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

     .picSize{
        width: 80px;
        
      }


}

@media screen and (max-width: 280px) {
  .aboutSection{
    width: 165px;
    margin: px;
    padding: 40px;
  }
}