body{
    height: auto;
    width: auto;
}

.wtwPageDiv{
    display: flex;
}

.wtwLeftDiv{
    width: 40%;
    padding: 80px; 
    margin-top: 32px;
}

.wtwFigcaption{
    color: black;
    display: flex;
    justify-content: center;
}

.wtwRightDiv{
    width: 60%;
    padding: 16px;
    margin-top: 48px;
}

.wtwTechDiv{
    font-weight: bold;
    font-family: Chakra Petch; 
    margin-top: 32px;
    padding-left: 16px;
}

.wtwTechDivH2{
    color: black;
    font-family: Chakra Petch;
    padding-left: 16px;
}

.wtwProbDiv{
    font-weight: bold;
    margin-top: 16px;
    font-family: Chakra Petch;
    padding-left: 16px;
}

.wtwProbDivH2{
    color: black;
    padding-right: 64px;
    font-family: Chakra Petch;
    padding-left: 16px;
}

.wtwDesDiv{
    font-weight: bold;
    margin-top: 16px;
    font-family: Chakra Petch;
    padding-left: 16px;
}

.wtwDesDivH2{
    color: black;
    padding-right: 64px;
    font-family: Chakra Petch;
    padding-left: 16px;
    margin-bottom: 50px;
}



/* responsive */
@media screen and (max-width: 1440px) {
  
   
}

@media screen and (max-width: 1280px) {
    .wtwSrc{
        width: 500px;
    }
    .wtwPageDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;;
    }

    .wtwLeftDiv{
        width: 70%;
        padding: 80px; 
        margin-top: 32px;
    }

    .wtwRightDiv{
        width: 100%;
        padding: 16px;
        margin-top: 48px;
    }
    
   
}

/* responsive */
@media screen and (max-width: 1024px) {

    .wtwSrc{
        width: 350px;
    }
    .wtwPageDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;;
    }

    .wtwLeftDiv{
        width: 70%;
        padding: 80px; 
        margin-top: 32px;
    }

    .wtwRightDiv{
        width: 100%;
        padding: 16px;
        margin-top: 48px;
    }
    
}


/* sufrace pro 7 */
@media screen and (max-width: 912px) {

    .wtwPageDiv{
        display: block;
    }
    
        .wtwSrc{
            width: auto;
        }
    
      .wtwLeftDiv{
        width: auto;
        padding: 100px; 
        margin-top: 32px;
    }
    .wtwRightDiv{
        width: auto;
        padding: 16px;
        margin-top: 0px;
    }
    
        
    .wtwTechDiv{
        font-weight: bold;
        font-family: Chakra Petch; 
        margin-top: 0px;
        font-size: 32px;
    }
    
    .wtwTechDivH2{
        color: black;
        font-family: Chakra Petch;
        font-size: 50px;
    }
    
    .wtwProbDiv{
        font-weight: bold;
        margin-top: 0px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwProbDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 50px;
    }
    
    .wtwDesDiv{
        font-weight: bold;
        margin-top: 16px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwDesDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 50px;
    }
    
}

  
/* Ipad Air */
@media screen and (max-width: 820px) {

.wtwPageDiv{
    display: block;
}

    .wtwSrc{
        width: auto;
    }

  .wtwLeftDiv{
    width: auto;
    padding: 100px; 
    margin-top: 32px;
}
.wtwRightDiv{
    width: auto;
    padding: 16px;
    margin-top: 0px;
}

    
.wtwTechDiv{
    font-weight: bold;
    font-family: Chakra Petch; 
    margin-top: 0px;
    font-size: 32px;
}

.wtwTechDivH2{
    color: black;
    font-family: Chakra Petch;
    font-size: 50px;
}

.wtwProbDiv{
    font-weight: bold;
    margin-top: 0px;
    font-family: Chakra Petch;
    font-size: 32px;
}

.wtwProbDivH2{
    color: black;
    padding-right: 64px;
    font-family: Chakra Petch;
    font-size: 50px;
}

.wtwDesDiv{
    font-weight: bold;
    margin-top: 16px;
    font-family: Chakra Petch;
    font-size: 32px;
}

.wtwDesDivH2{
    color: black;
    padding-right: 64px;
    font-family: Chakra Petch;
    font-size: 50px;
}
}
  

/* Ipad mini */
@media screen and (max-width: 768px) {
    .wtwPageDiv{
        display: block;
    }
    
        .wtwSrc{
            width: 100%;
        }
    
      .wtwLeftDiv{
        width: auto;
        padding: 100px; 
        margin-top: 32px;
    }
    .wtwRightDiv{
        width: auto;
        padding: 16px;
        margin-top: 0px;
    }
    
        
    .wtwTechDiv{
        font-weight: bold;
        font-family: Chakra Petch; 
        margin-top: 0px;
        font-size: 32px;
    }
    
    .wtwTechDivH2{
        color: black;
        font-family: Chakra Petch;
        font-size: 50px;
    }
    
    .wtwProbDiv{
        font-weight: bold;
        margin-top: 0px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwProbDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 50px;
    }
    
    .wtwDesDiv{
        font-weight: bold;
        margin-top: 16px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwDesDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 50px;
    }
}

  
/* surfaxe duo */
@media screen and (max-width: 540px) {
    .wtwPageDiv{
        display: block;
    }
    
        .wtwSrc{
            width: 300px;
        }
    
      .wtwLeftDiv{
        width: auto;
        padding: 100px; 
        margin-top: 32px;
    }

    .wtwRightDiv{
        width: auto;
        padding: 16px;
        margin-top: 0px;
    }
    
    .wtwTechDiv{
        font-weight: bold;
        font-family: Chakra Petch; 
        margin-top: 0px;
        font-size: 16px;
    }
    
    .wtwTechDivH2{
        color: black;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwProbDiv{
        font-weight: bold;
        margin-top: 0px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwProbDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwDesDiv{
        font-weight: bold;
        margin-top: 16px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwDesDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
}

  
/* Iphon 13pro max */
@media screen and (max-width: 428px) {
    .wtwSrc{
        width: 95%;
        height: 200px;
    }

    .wtwPageDiv{
        display: grid;
        grid-template-columns: 1fr;
    }

    .wtwLeftDiv{
        width: auto;
        padding: 0px; 
        margin-top: 0px;
        margin: 25px;
    }

    .wtwFigcaption{
        color: black;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .wtwRightDiv{
        width: auto;
        padding: 16px;
        margin-top: 0px;
        justify-content: center;
    }
    
    .wtwTechDiv{
        font-weight: bold;
        font-family: Chakra Petch; 
        margin-top: 0px;
        font-size: 16px;
    }
    
    .wtwTechDivH2{
        color: black;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwProbDiv{
        font-weight: bold;
        margin-top: 0px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwProbDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
    
    .wtwDesDiv{
        font-weight: bold;
        margin-top: 16px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwDesDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 32px;
    }
}
  
/* Iphone xr */
@media screen and (max-width: 414px) {

}

  
/* iphone 12 pro */
@media screen and (max-width: 393px) {

}
  
/* Samsung galaxy S8+*/
@media screen and (max-width: 360px) {
    .wtwSrc{
        width: 90%;
        height: 150px;
    }

    .wtwFigcaption{
        color: black;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    
}
  

/* pixel 4 */
@media screen and (max-width: 353px) {
  
}

  
/* Galaxy S9+ */
@media screen and (max-width: 320px) {

    body{
        height: auto;
        width: auto;
    }

    .wtwSrc{
        width: 100%;
        height: 200px;
    }

    .wtwFigcaption{
        color: black;
        display: flex;
        justify-content: center;
        font-size: 11px;
    }

    .wtwPageDiv{
        display: block;
    }

    .wtwLeftDiv{
        width: auto;
        padding: 0px; 
        margin-top: 32px;
    }

    .wtwRightDiv{
     width: 100%;
      padding: 16px;
      margin-top: 0px;
    }

    .wtwTechDiv{
        font-weight: bold;
        font-family: Chakra Petch; 
        margin-top: 0px;
        font-size: 10px;
    }
    
    .wtwTechDivH2{
        color: black;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwProbDiv{
        font-weight: bold;
        margin-top: 0px;
        font-family: Chakra Petch;
        font-size: 10px;
    }
    
    .wtwProbDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
    .wtwDesDiv{
        font-weight: bold;
        margin-top: 16px;
        font-family: Chakra Petch;
        font-size: 10px;
    }
    
    .wtwDesDivH2{
        color: black;
        padding-right: 64px;
        font-family: Chakra Petch;
        font-size: 16px;
    }
    
}
  
  
@media screen and (max-width: 280px) {
    .wtwSrc{
        width: 100%;
        height: 125px;
    }
}
  
